﻿.input-border {
    border: none;
}

.input-border:focus {
    outline: 0;
    outline-offset: 0;
}

#divsearch {
    width: 100%;
    height: 45px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

#divsearch:hover{
    box-shadow: 0 0 0 0 white, 0 0 7px 0 #dfe1e5;
}

.divsearch {
    box-shadow: 0 0 0 0 white, 0 0 7px 0 #dfe1e5;
}

.p-text-font {
    font-size: 100px;
}

.img-keyboard {
    height: 30px;
    width: 30px;
}
