﻿@page
@using ASPDotNetCore3.Services.Extensions
@model IndexModel
@{
    ViewData["Title"] = "Search";
}

@if (!Model.resultFileWrited.IsNullOrEmpty())
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span>@((Model.resultFileWrited.ToString() == "success") ? "File write successful." : "Error! File not written!")</span>   
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="col">
    <div class="col">
        <p class="text-center p-text-font">
            <span class="text-primary">S</span>
            <span class="text-danger">E</span>
            <span class="text-warning">A</span>
            <span class="text-primary">R</span>
            <span class="text-success">C</span>
            <span class="text-danger">H</span>
        </p>
    </div>
    <form class="col mt-3" method="GET">
        <div class="col">
            <div class="d-flex flex-row align-items-center justify-content-center" id="divsearch">
                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd" />
                </svg>
                <input class="col-10 input-border" maxlength="2048" name="strsearch" type="text" autocomplete="off" autofocus title="Поиск" value="" />
                <img class="rounded float-right img-keyboard" src="~/img/Keyboard.png" alt="keyboard" />
            </div>
            <div class="mt-3">
                <center>
                    <input class="btn btn-light btn-lg" value="Поиск" name="btnSearch" type="submit" />
                </center>
            </div>
        </div>
    </form>
</div>
